<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script type="text/babel" src="javascripts/main.jsx"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
